$orange: #ffa31a;
$lightGrey: #808080;
$grey: #292929;
$darkGrey: #1b1b1b;
$white: #fff;

$fontFamilyC: "Crimson Text", serif;
$fontFamilyW: "Work Sans", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::selection {
    background-color: $orange;
  }
}
